{% extends 'payroll_app/base.html' %}

{% block header %}

    <nav class="header">
        <div class="title" style="display: flex">
            <h1>Lazapee</h1>
            <h3 style="color: rgb(236, 175, 221);
            padding-top: 0.3em;">payroll</h3>
            
        </div>

        <div class="buttons" >
            <a href="{% url 'log_out' %}" class="btn btn-danger">Log Out</a>
        </div>

    </nav>

{% endblock %}

    

{% block form %}
    <div class="containerL" >
        <div class="dashcard">
            <div class="info">
                <h2>Employee Count</h2>
                <h1> {{total_employees}} </h1>
            </div>
        </div>
        <div class="dashcard" >
            <div class="info">
                <h2>Average Salary</h2>
                <h1> {{avSalary}} </h1>
            </div>
        </div>
        <div class="dashcard">
            <div class="info" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <h2>Total Overtime Hours</h2>
                <h1> {{overtime}} </h1>
            </div>
        </div>

    </div>

    <div class="conTable">
        <div class="tableTitle">
            <div class="tableTit">
                <h1> Lazapee Employees </h1>
            </div>
            <div class="tableBtn">
                <a href="{% url 'add_employee' %}" class="btn btn-warning" > Add an Employee</a>
            </div>  
        </div>
        {% if messages %}
            {% for message in messages %}
                <div style="color: rgb(222, 125, 241); " >
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
        <table class="employees" >
            <thead>
                <tr>
                <th>ID Number</th>
                <th>Name</th>
                <th>Rate</th>
                <th>Allowance</th>
                <th>Overtime Pay</th>
                <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for e in employees %}
                <tr>
                    <td>{{e.id_number}}</td>
                    <td>{{e.name}}</td>
                    <td>{{e.rate}}</td>
                    <td>{{e.allowance}}</td>
                    <td>{{e.overtime_pay}}</td>
                    <td >
                        <div class="editBtns" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                            <div class="firstRow">
                                <form method="POST" action="{% url 'add_overtime' e.pk %}" style="display: flex; justify-content: center; align-items: center; flex-direction: row; gap: 0.7em; padding: 0.3em;">
                                    {% csrf_token %}
                                    
                                    <input type="text" name="addot" id="addot" placeholder="add/subtract overtime" style="height: 2.3em; width: fit-content;">
                                    <input type="submit" name="action"  value="Deduct Overtime" class="btn btn-primary">
                                    <input type="submit" name="action" value="Add Overtime" class="btn btn-primary">
                                </form>
                                
                            </div>
                            <div class="secondRow" style="display: flex; flex-direction: row; gap: 0.7em;">
                                <a href="{% url 'remove_employee' e.pk %}" class="btn btn-danger" style="display: flex;">Delete Account</a>
                                <a href="" class="btn btn-warning">Edit</a>
                            </div>
                            
                            
                        </div>
                    </td>
                </tr>
                {% endfor %}
               
            </tbody>
        </table>
    </div>
        
{% endblock %}


{% block footer %}

    <nav class="footer">
        <div class="title">
            <h3>Lazapee Ph 2025</h3>
        </div>

    </nav>

{%endblock%}