{% extends 'payroll_app/base.html' %}

{% block header %}

    <nav class="header">
        <div class="title" style="display: flex">
            <h1>Lazapee</h1>    
            <payroll style="color: rgb(236, 175, 221);">payroll</h3>
            <a href="{% url 'payslips' %}" class="payslips"> Payslips </a>
        </div>

        <div>

        </div>

        <div class="buttons" >
            <a href="{% url 'log_out' %}" class="btn btn-danger">Log Out</a>
        </div>

    </nav>

{% endblock %}
{% block form %}
    
    
    <div class="payDeets" >
        <div class="title">
            <h1 style="color: rgb(161, 244, 244);">
                Payslip: {{payslip.id_number.name}}
            </h1>
    
        </div>
        {% if messages %}
            {% for message in messages %}
                <div style="color: rgb(222, 125, 241); " >
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}

    <div class="resibo" style="border-style: solid; border-color: rgb(178, 211, 221); border-radius: 0.4em; width: 90%; display: flex; justify-content: center; align-items: center; flex-direction: column; padding: 2em; ">
          
        <div class="resiboHeader" style="margin: 20px; width: 100%;">
            <div class="headerRow" style="display: flex; justify-content: space-between;">
                <div class="left">NAME: {{payslip.id_number.name}}</div>
                <div class="right">{{payslip.date_range}}</div>
            </div>
            <div class="header-row" style="display: flex; justify-content: space-between;">
                <div class="left">ID NUMBER: {{payslip.id_number.id_number}}</div>
                <div class="right">PAYSLIP ID: {{payslip.pay_cycle}}</div>
            </div>
        </div>
        <div class="earningsHeader" style="margin: 20px; width: 100%;">
            <div class="headerRow" style="display: flex; justify-content: space-between;">
                <div class="left">EARNINGS</div>
                <div class="right" style="padding-right: 4em;"><strong>AMOUNT</strong></div>
            </div>
            <div class="earningsContent" style="margin: 20px; width: 100%;">
                <div class="earningsRow" style="padding-right: 12em;"   >
                    <div class="left">BASE PAY</div>
                    <div class="right">{{payslip.rate}}</div>
                </div>
                <div class="earningsRow" style="padding-right: 12em;"> 
                    <div class="left">ALLOWANCE</div>
                    <div class="right">{{payslip.earnings_allowance}}</div>
                </div>
                <div class="earningsRow" style="padding-right: 12em;">
                    <div class="left">OVERTIME</div>
                    <div class="right">{{payslip.overtime}}</div>
                </div>

                <div class="earningsRow">
                    <div><strong>GROSS PAY</strong> </div>
                    <div><strong>{{payslip.gross_pay}}</strong></div>

                </div>
                
            </div>
        </div>
        <div class="deductionsHeader" style="margin: 20px; width: 100%;">
            <div class="headerRow" style="display: flex; justify-content: space-between;">
                <div class="left">DEDUCTIONS</div>
                
            </div>
            <div class="deductionsContent" style="margin: 20px; width: 100%;">
                
                {% if payslip.pag_ibig != 0 %}
                    <div class="deductionsRow" style="padding-right: 12em;">
                        <div class="left">PAGIBIG</div>
                        <div class="right">{{payslip.pag_ibig}}</div>
                    </div>
                {% endif %}
                {% if payslip.deductions_tax != 0 %}
                    <div class="deductionsRow" style="padding-right: 12em;">
                        <div class="left">W/HOLDING TAX</div>
                        <div class="right">{{payslip.deductions_tax}}</div>
                    </div>
                {% endif %}
                {% if payslip.deductions_health != 0 %}
                    <div class="deductionsRow" style="padding-right: 12em;"> 
                        <div class="left">PHILHEALTH</div>
                        <div class="right">{{payslip.deductions_health}}</div>
                    </div>
                {% endif %}

                {% if payslip.sss != 0 %}
                    <div class="deductionsRow" style="padding-right: 12em;">
                        <div class="left">SSS</div>
                        <div class="right">{{payslip.sss}}</div>
                    </div>
                {% endif %}

                <div class="deductionsRow">
                    <div><strong>TOTAL DEDUCTIONS</strong></div>
                    <div><strong>{{ payslip.deductions_health|add:payslip.deductions_tax|add:payslip.pag_ibig|add:payslip.sss }}</strong></div>
                </div>

                <div class="netnet">
                    <div><h3><strong>NETPAY</strong> </h3></div>
                    <div><h3><strong>{{payslip.total_pay}}</strong></h3></div>

                </div>

                
            </div>
        </div>    

        
    </div>

    <div class="title" style="display: flex; justify-content: center; align-items: center; margin-bottom: 0.2em;">
        <h2 style="color: rgb(161, 244, 244); font-weight: bold;">
            {% if payslip.pay_cycle == 1 %}
                Cycle 1 PaySlip
            {% else %}
                Cycle 2 PaySlip
            {% endif %}
        </h2>
    </div>

    <div class="containerss" style="color: white;">
      
        <div class="section details">
            <p><strong>DATE:</strong> {{ payslip.date_range }}</p>
            <p><strong>NAME:</strong> {{ payslip.id_number.name }}</p>
            <p><strong>PAYSLIP ID:</strong> {{ payslip.id }}</p>
            <p><strong>ID NUMBER:</strong> {{ payslip.id_number.id_number }}</p>
        </div>

       
        <div class="section earnings">
            <h5><strong>EARNINGS:</strong></h5>
            <p>Base Pay: {{ payslip.rate }}</p>
            <p>Allowances: {{ payslip.earnings_allowance }}</p>
            <p>Overtime: {{ payslip.overtime }}</p>
            <hr>
            <p><strong>GROSS PAY:</strong> PHP {{ payslip.rate|add:payslip.earnings_allowance|add:payslip.overtime }}</p>
        </div>


        <div class="section deductions">
            <h5><strong>DEDUCTIONS:</strong></h5>
            <p>W/HOLDING TAX: {{ payslip.deductions_tax }}</p>
            {% if payslip.deductions_health != 0 %}
                <p>PHILHEALTH: {{ payslip.deductions_health }}</p>
            {% endif %}
            {% if payslip.sss != 0 %}
                <p>SSS: {{ payslip.sss }}</p>
            {% endif %}
            <hr>
            <p><strong>TOTAL DEDUCTIONS:</strong> PHP {{ payslip.deductions_tax|add:payslip.deductions_health|add:payslip.sss }}</p>
        </div>

        
        <div class="section netpay">
            <h4><strong>NET PAY:</strong> PHP {{ payslip.total_pay }}</h4>
        </div>
    </div>

    <!-- RETURN  -->
    


        
                
    


        <!--
        
        <table class="slip">
            <tr>
                <td> NAME </td>
                <td>{{payslip.id_number.name}}</td>
            </tr>
            <tr>
                <td> ID Number </td>
                <td>{{payslip.id_number.id_number}}</td>
            </tr>
            <tr >
                <td> DATE </td>
                <td>{{payslip.date_range}}</td>
            </tr>
        
            

             <tr>
                <td style="color: rgb(255, 156, 225);"> MONTHLY RATE </td>
                <td style="color: rgb(255, 156, 225);">{{payslip.monthlyRate}}</td>
            </tr>
             <tr>
                <td> Base Pay </td>
                <td>{{payslip.rate}}</td>
            </tr>   
             <tr>
                <td> ALLOWANCE </td>
                <td>{{payslip.earnings_allowance}}</td>
            </tr>
            <tr>
                <td> OVERTIME </td>
                <td>{{payslip.overtime}}</td>
            </tr>

             <tr>
                <td> TAX </td>
                <td>{{payslip.deductions_tax}}</td>
            </tr>
            {% if payslip.pag_ibig != 0 %}
                <tr>
                    <td> PAGIBIG DEDUCTIONS </td>
                    <td>{{payslip.pag_ibig}}</td>
                </tr>
            {% endif %}
            {% if payslip.deductions_health != 0 %}
                <tr>
                    <td> PHIL HEALTH </td>
                    <td>{{payslip.deductions_health}}</td>
                </tr>
            {% endif %}
            {% if payslip.sss != 0 %}
                <tr>
                    <td> SSS </td>
                    <td>{{payslip.sss}}</td>
                </tr>
            {% endif %}
            <tr>
                <td> NET PAY </td>
                <td>{{payslip.total_pay}}</td>
            </tr>
             
        -->
            
            <div>
                 <a href="{% url 'payslips' %}" class="btn btn-warning"> Return to Payslips</a>
            </div>
           
        </table>
  

   


        

    </div>

   
{% endblock %}

{% block footer %}
    
    <nav class="footer">
        <div class="title">
            <h3>Lazapee Ph 2025</h3>
        </div>

    </nav>

{%endblock%}
